.nav-container {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 32px;
  align-items: center;
  justify-content: center;
  padding: 12px;
  width: 100%;
}

.category-container {
  margin-left: 12px;
}
